
/* experimenting using flex */
body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #333333;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__title {
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    margin: 20px 0 64px 24px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.content__img {
    width: 286px;
    height: 220px;
    margin: 0 44px 77px 44px;
}

.content__header {
    font-size: 3rem;
    margin: 0 0 29px 24px;
    line-height: 71px;
    letter-spacing: -0.035em;
}

.content__body {
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0 24px 67px 24px;
    line-height:27px;
    letter-spacing:  -0.035em;
}

.content__btn,
.content__footer {
    font-size: .875rem;
}

.content__btn {
    /* display:block; */
    width: 130px;
    height: 22px;
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
    margin-left:24px;
    padding: 24px 43px;
    line-height: 21px; 
    text-transform: uppercase;
    letter-spacing: -0.035em;
}

.content__footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align:center;
    margin: 96px 75px 42px 75px;
    line-height:17px;
}

@media (min-width: 500px) {
    
}