body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #333333;
    margin: 0;
}

.content__title {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    margin: 20px 0 64px 24px;
}

.content__main {
    display: flex;
    flex-direction: column;
}

.content__img {
    width: 286px;
    height: 220px;
    margin: 0 44px 77px 44px;
}

.content__header {
    font-size: 3em;
    margin: 0 0 29px 24px;
    line-height: 71px;
    letter-spacing: -0.035em;
}

.content__body {
    font-weight: 400;
    font-size: 1.125em;
    margin: 0 24px 67px 24px;
}

.content__btn,
.content__footer {
    font-size: .875em;
}

.content__btn {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 135px 96px 24px;
    padding: 1.5em 2.68em;
    
}

.content__footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align:center;
    margin-bottom: 42px;
}

